doctype html
head
  style 
    include sign.css
  meta(charset='utf-8')
  |     
  meta(name='viewport', content='width=device-width, initial-scale=1, shrink-to-fit=no')
  |     
  meta(name='description', content='')
  |     
  meta(name='author', content='')
  |     
  title Decentralized Loan Solution
  // Bootstrap core CSS
  link(href='https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css', rel='stylesheet')
  // Custom styles for this template
  style.
    body {
    padding-top: 54px;
    }
    @media (min-width: 992px) {
    body {
    padding-top: 56px;
    }
    }
// Navigation
nav.navbar.navbar-expand-lg.navbar-light.bg-light.fixed-top
  .container
    a.navbar-brand(href='/') Start Banking
    |             
    button.navbar-toggler(type='button', data-toggle='collapse', data-target='#navbarResponsive', aria-controls='navbarResponsive', aria-expanded='false', aria-label='Toggle navigation')
      span.navbar-toggler-icon
    |             
    #navbarResponsive.collapse.navbar-collapse
      ul.navbar-nav.ml-auto
        li.nav-item.active
          a.nav-link.btn.btn-lg(href='/login')
            | Login
            span.sr-only (current)
        |                     
        li.nav-item
          a.nav-link.btn.btn-lg(href='Register') Register
        |                     
        li.nav-item
          a.nav-link.btn.btn-lg(href='/faq') FAQ
        |                     
        li.nav-item
          a.nav-link.btn.btn-lg(href='/Contact') Contact
// Page Content
.jumbotron(style='background-color:#0288d1;width:100%;')
  .row
    .col-lg-12.text-center
      h1.mt-5 A Decentralized Loan System
      |                 
      p.lead Decenterlized crowd-funded loan system powered by BLOCKCHAIN
      |                 
      ul.list-unstyled
        li Less Risk
        |                     
        li Less Processing Fee

.container
  .row
    .col-lg-4
      h2 Sign Up
      |             
      p Just One click to login
      |             
      p Nothing more
    |         
    .col-lg-4
      h2 Apply for Loan
      |             
      p Simply put your requirement
      |             
      p No Condition
    |         
    .col-lg-4
      h2 Get Money
      |             
      p Crowd Funded 
      |             
      p Return Easily And Automatically
  
 
// Bootstrap core JavaScript
script(src='https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js')
|     
script(src='https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.0.0-beta/js/bootstrap.min.js')