head
  meta(charset='utf-8')
  |     
  meta(name='viewport', content='width=device-width, initial-scale=1, shrink-to-fit=no')
  |     
  meta(name='description', content='')
  |     
  meta(name='author', content='')
  |     
  link(rel='icon', href='../../../../favicon.ico')
  |     
  title Register
  // Bootstrap core CSS
  link(href='https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css', rel='stylesheet')
  script(src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js")
  script(src='https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js')
  link(href='css/sign.css', rel='stylesheet' type="text/css")
  style
    include sign.css

  style.
    body {
    padding-top: 54px;
    }
    @media (min-width: 992px) {
    body {
    padding-top: 56px;
    }
    }
// Navigation
nav.navbar.navbar-expand-lg.navbar-light.bg-light.fixed-top
  .container
    a.navbar-brand(href='/') Start Banking
    |             
    button.navbar-toggler(type='button', data-toggle='collapse', data-target='#navbarResponsive', aria-controls='navbarResponsive', aria-expanded='false', aria-label='Toggle navigation')
      span.navbar-toggler-icon
    |             
    #navbarResponsive.collapse.navbar-collapse
      ul.navbar-nav.ml-auto
        li.nav-item.active
          a.nav-link.btn.btn-lg(href='/login')
            | Login
            
        |                     
        li.nav-item
          a.nav-link.btn.btn-lg(href='Register') Register 
          span.sr-only (current)
        |                     
        li.nav-item
          a.nav-link.btn.btn-lg(href='/faq') FAQ
        |                     
        li.nav-item
          a.nav-link.btn.btn-lg(href='/Contact') Contact
  // Custom styles for this template
.container
  form.form-signin(method='post', action='/')
    h2.form-signin-heading Please Register
    |             
    label.sr-only(for='inputEmail') Email address
    |             
    input#inputEmail.form-control(type='email', placeholder='Email address', required='', autofocus='' name="inputEmail")
    |     
    br
          
    label.sr-only(for='inputPassword') Password
    |             
    input#inputPassword.form-control(type='password', placeholder='Password', required='' name="Password")
    |             
    br
    input#inputPassword.form-control(type='password', placeholder='Retype Your Password', required='' name="RePassword")
    button.btn.btn-lg.btn-primary.btn-block(type='submit') Register
    
// /container
