<body>
        <% include partials/head.ejs %>
        <% include partials/navigation.ejs %>
        
        
        <main role="main">
          
              <!-- Main jumbotron for a primary marketing message or call to action -->
                <div class="container">
                  <h2 class="display-3">Here you can RequesFunds</h1>
                </div>  
        </main>
          
        
        <% include partials/footer.ejs %>
        
        </body>
        </html>