head
  title Bootstrap Example
  |     
  style
    include style.css
  meta(charset='utf-8')
  |     
  meta(name='viewport', content='width=device-width, initial-scale=1')
  |     
  link(href='https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css', rel='stylesheet')
  script(src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js")
  script(src='https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js')

  style.
    body {
    padding-top: 54px;
    }
    @media (min-width: 992px) {
    body {
    padding-top: 56px;
    }
    }
// Navigation
nav.navbar.navbar-expand-lg.navbar-light.bg-light.fixed-top
  .container
    a.navbar-brand(href='/') Start Banking
    |             
    button.navbar-toggler(type='button', data-toggle='collapse', data-target='#navbarResponsive', aria-controls='navbarResponsive', aria-expanded='false', aria-label='Toggle navigation')
      span.navbar-toggler-icon
    |             
    #navbarResponsive.collapse.navbar-collapse
      ul.navbar-nav.ml-auto
        li.nav-item.active
          a.nav-link.btn.btn-lg(href='/logout')
            | Logout
            span.sr-only (current)
        |                     
        li.nav-item
          a.nav-link.btn.btn-lg(href='/faq') FAQ
        |                     
        li.nav-item
          a.nav-link.btn.btn-lg(href='/Contact') Contact
br
br          
.container-fluid
  h1 Wallet Account
  |     
     
  .row
    .col-sm-4(style='background-color:lavender;')
      | .
      #address.well.well-lg data.address
    |         
    .col-sm-8(style='background-color:lavenderblush;')
      #balance.well.well-lg Balance

br
br

.container
  a#send.btn.btn-primary(name='send' href="/send") Send
  |     
  a#apply.btn.btn-primary(name='apply' href="/apply") Apply


