<body>
        <% include partials/head.ejs %>
        <% include partials/navigation.ejs %>
        
        
     
          
              <!-- Main jumbotron for a primary marketing message or call to action -->
              <div class="container">
                <br/><br/>
              <div class="row">
                  <div class="col-md-4" style="text-align:justify;">
                    <h4>Address</h4>
                    <p><h6><%=address%></h6></p>
                  </div> <hr/>
              </div>
              <div class="row">
                <div class="col-md-4" style="text-align:justify;">
                  <h4>Account Balance</h4>
                  <p><h6><%=account_balance%></h6></p>
                </div> <hr/>
            </div>
            </div>


              
                        
               
        
        <% include partials/footer.ejs %>
        
        </body>
        </html>